{% extends 'base.html.twig' %}

{% block title %}Modifier adresse{% endblock %}

{% block body %}

    <h1>Modifier une adresse</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_adresse') }}">Retour</a>

{% endblock %}
