{% extends 'base.html.twig' %}

{% block title %}Modifier adresse{% endblock %}

{% block body %}

    <section class="cart-container">

        <h1 class="cart-title">Modifier une adresse</h1>

        <div class="cart-list">
            <div class="cart-item" style="flex-direction: column; align-items: flex-start;">

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn-validate" style="margin-top:20px;">
                    Modifier
                </button>

                {{ form_end(form) }}

            </div>
        </div>

        <div class="cart-footer">
            <a href="{{ path('app_adresse') }}" class="btn-validate">
                ← Retour
            </a>
        </div>

    </section>

{% endblock %}
